<form method="get" action="/quizes">
	<input type="text" name="search" required value=""/>
	<input type="submit" value="Buscar pregunta" />
<form>
<br/>
<table class="tabla_resultado_busq">
<tr class="titulo">
	<td>Tema:</td>
	<td>Pregunta:</td>
	<td colspan="2">Acción</td>
<tr/>
<% var i; for (i=0; i < quizes.length; i++) { %>        
 <tr>
 	<td><%= quizes[i].tema%></td>
 	<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta%></a></td>
	<%if(session.user){%>
	<td class="botones">
		<a href="quizes/<%= quizes[i].id %>/edit"> <img src="images/edit.gif" /> Editar</a>
	</td> 	
	<td class="botones">
        <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
			 <button type="submit" value="Eliminar" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">Borrar</button>
        </form>		
	</td>
	<%}%> 	
 </tr> 
<% } %>
</table>
<p>
</br>
<%if(session.user){%>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<%}%> 